In [ ]:
# python
# Assignment No - 1

In [5]:
# Q-1

# 1)
my_string = " Hello, sir/Mam "
# 2)
my_list = [1,2,3," faraaz khan ",2.03]
# 3)
my_float = 2.036
# 4)
my_tuple = (10, 20, 30, 40, 50, " isro ")

In [ ]:
# Q-2

# 1) Data type is string
# 2) Data type is string
# 3) Data type is list
# 4) Data type is intiger

In [ ]:
# Q-3

# 1) / (Division Operator)
# The division operator / divides numbers and gives a result with decimal places, regardless of whether the numbers are integers.
result = 10 / 4
print(result)  # Output: 2.5

# 2) % (Modulo Operator):
# The modulo operator % calculates the remainder when one number is divided by another.
remainder = 10 % 3
print(remainder)  # Output: 1

# 3) // (Floor Division Operator):
# The floor division operator // performs division and rounds down the result to the nearest integer. It discards the decimal part of the division result.
result = 10 // 3
print(result)  # Output: 3

# 4)** (Exponentiation Operator):
# The exponentiation operator ** raises a number to a certain power
result = 2 ** 3
print(result)  # Output: 8

In [7]:
# Q-4

my_list = [42, "Hello", 3.14, True, [1, 2, 3], ("apple", "banana"), {'key': 'value'}, None, -99, 7.5]

for item in my_list:
    print(item, type(item))

42 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
('apple', 'banana') <class 'tuple'>
{'key': 'value'} <class 'dict'>
None <class 'NoneType'>
-99 <class 'int'>
7.5 <class 'float'>

In [9]:
# Q-5

a = int(input("Enter A: "))
b = int(input("Enter B: "))

if b == 0:
    print("B should not be zero for division")
else:
    quotient = 0
    while a >= b:
        a -= b
        quotient += 1
    
    if a == 0:
        print(f"{a} is divisible by {b}.")
        print(f"It can be divided {quotient} times.")
    else:
        print(f"{a} is not divisible by {b}.")

Enter A:  10
Enter B:  2

0 is divisible by 2.
It can be divided 5 times.

In [10]:
# Q-6

my_list = [12, 7, 9, 22, 15, 30, 6, 18, 4, 5, 27, 14, 8, 21, 10, 33, 19, 25, 36, 16, 3, 29, 11, 24, 31]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
9 is divisible by 3.
22 is not divisible by 3.
15 is divisible by 3.
30 is divisible by 3.
6 is divisible by 3.
18 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
8 is not divisible by 3.
21 is divisible by 3.
10 is not divisible by 3.
33 is divisible by 3.
19 is not divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
16 is not divisible by 3.
3 is divisible by 3.
29 is not divisible by 3.
11 is not divisible by 3.
24 is divisible by 3.
31 is not divisible by 3.

In [13]:
# Q-7

# Immutable
""" Immutable data types refer to those data types whose values remain unchanged once they are created. 
In order to modify an immutable object, a new object is generated with the desired alterations. 
Some instances of immutable data types are integers, floats, strings, and tuples."""

# Example of Immutable Data Type
x = 5
y = x  # y references the same value as x

x = 10  # Creating a new integer object with the value 10
print(y)  # Output: 5 (y still holds the original value of 5)

# Mutable
""" Mutable data types are those whose values can be modified after creation. 
This means you can change their internal state without creating a new object. 
Examples of mutable data types include lists, dictionaries, and sets."""

# Example of Immutable Data Type
list1 = [1, 2, 3]
list2 = list1  # list2 references the same list object as list1

list1.append(4)  # Modifying the list in-place by adding an element
print(list2)  # Output: [1, 2, 3, 4] (list2 reflects the change made to list1)

5
[1, 2, 3, 4]